<%= form_for([@article, @article.comments.build], remote: true, html: {class: "input-form"} ) do |f| %>


  <div class="form-group">
    <%= f.text_area :body, class: "form-control", placeholder: 'Escriba acá su comentario', rows: 5 %>
  </div>
  <div class="text-center">
    <%= f.submit "Enviar comentario", class: "btn btn-primary" %>
  </div>
<% end %>

<br>
