
<%= render "shared/content_title"  %>

<div class="container">

  <div class="row">

    <div class="col-sm-10 col-sm-offset-1 home-articles">

      <%= render "shared/home_links"  %>

      <div class="row">
        <% @articles.each do |article| %>

        <%= render 'shared/article_list_item', article: article %>

        <% end %>

      </div>

    </div>

  </div>

</div>
