<div class="col-sm-8 col-sm-offset-2">

  <h2>Articles from <%= current_user.name %></h2>

  <div class="row articles-preview">

    <% @articles.each do |article| %>

      <%= render 'shared/article_list_item', article: article %>

    <% end %>

  </div>

</div>