

<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-offset-2">

	<div class="row ">
		<%= link_to raw("<span class='glyphicon glyphicon-arrow-left'></span> Volver"), root_path , class: "btn btn-primary volver-btn" %>

	</div>

	<br>

	<h1 class="text-center">Nuevo artículo</h1>

	<%= render 'form' %>


</div>

