
<%= render "shared/content_title"  %>

<div class="container">

  <div class="row">

    <div class="col-sm-10 col-sm-offset-1 home-articles">

      <%= render "shared/home_links"  %>

    </div>

  </div>

  <div class="row">

    <div class="col-sm-10 col-sm-offset-1">

      <div class="most-commented">

        <h2>Más comentados</h2>

        <% @most_commented.each do |article| %>

        <%= render "shared/article_list_item", article: article  %>

        <% end %>

      </div>

    </div>

  </div>

</div>
