<div class="text-center content-title">
  <h1>Super Blog</h1>
  <h4><i>Un super blog</i></h4>
  <p><%= link_to "Qué es Super Blog", new_user_session_path, class: "btn btn-medium btn-about-home" %></p>
</div>