<div class="well well-sm">
    <h2><%= pluralize(modelo.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ol><% modelo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ol>
</div>
