<div class="row home-links">
  <div class="col-sm-1 col-xs-2 home-link active">
    <%= link_to "ARTÍCULOS", root_path  %>
  </div>
  <div class="col-sm-2 col-xs-2 home-link">
    <%= link_to "ÚLTIMOS ARTÍCULOS", last_articles_path  %>
  </div>
  <div class="col-sm-2 col-xs-2 home-link">
    <%= link_to "MÁS COMENTADOS", most_commented_path  %>
  </div>
</div>