<div class="row home-links">
  <div class="col-sm-1 col-xs-2 home-link">
    <%= link_to "ARTÍCULOS", articles_path, id: "index_articles"  %>
  </div>
  <div class="col-sm-2 col-xs-2 home-link">
    <%= link_to "ÚLTIMOS ARTÍCULOS", last_articles_path, id: "last_articles"  %>
  </div>
  <div class="col-sm-2 col-xs-2 home-link">
    <%= link_to "MÁS COMENTADOS", most_commented_path, id: "most_commented"  %>
  </div>
</div>