<div class="row home-links">
  <div class="col-sm-1 col-xs-2 home-link active">
    <%= link_to "ARTÍCULOS", "#", id: "index_articles"  %>
  </div>
  <div class="col-sm-2 col-xs-2 home-link">
    <%= link_to "ÚLTIMOS ARTÍCULOS", "#", id: "last_articles"  %>
  </div>
  <div class="col-sm-2 col-xs-2 home-link">
    <%= link_to "MÁS COMENTADOS", "#", id: "most_commented"  %>
  </div>
</div>