/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";

$brand-primary: white;
$brand-second: #7f8c8d;
$link-color: $brand-second;

$headings-font-family: 'Open Sans Condensed', sans-serif;
$btn-default-bg: $brand-primary;
$btn-default-color: $brand-second;
$btn-default-border: $brand-second;
$body-bg: white;

$navbar-default-link-color:  black;
$navbar-default-link-hover-color: black;
$navbar-default-bg: white;
$navbar-default-border: white;


@import "bootstrap";



body{
	font-family: $headings-font-family;
	font-weight: lighter;
	font-size: 18px;
	position: relative;
}

.footer{
	ul li{
		display: inline-block;
		list-style: none;
		margin: 0 10px 10px 10px;
	}
}


.logo, .article .panel-footer, .volver-btn, .alert{
	font-family: $headings-font-family;
	font-weight: bold;

}

.article .panel-heading a:hover{
	text-decoration: none;
}

/*

	GENERALES

*/


.content-title{

	padding: 20px 0 30px 0;

}

.volver-btn{
	font-size: 30px;
}

.btn-medium{

	border-radius: 20px;
	border-color: $brand-second;
	background-color: transparent;

	a{
		text-decoration: none;
		&:hover{
			color: darken($brand-second, 15%);
		}
	}

	&:hover{
			color: darken($brand-second, 15%);
			border-color: darken($brand-second, 15%);
	}


}

.btn-about-home{
	margin: 10px 0 5px 0;
	font-size: 14px;
}

#errors_show{
  color: red;
}
/*

	NAVBAR

*/

.navbar-nav > li > a {
	padding-top: 7px;
	padding-bottom: 7px;
	color: #ecf0f1;
}


#navbar-default{
	width: 100%;
	position: absolute;
	z-index: 2;
	background-color: rgba(255,255,255,0.5);
	padding-top: 10px;
}

.nav-btns li{
	list-style: none;
	display: inline;
}

.navbar-btn.btn-medium{
	margin-right: 10px;
	font-size: 18px;
}


/*

	FLASH MESSAGES

*/
.alert{
	text-align: center;
	font-size: 18px;
}

.alert-notice{
	background-color: $brand-primary;
	color: green;
}

.alert-alert{
	color: red;
}

/*

	HOME GALLERY

*/

#main{
	position: relative;

	.carousel-inner{
		max-height: 500px;
	}
}

.login{
	min-height: 500px;

	input{
		font-size: 18px;
	}
}