/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";

$brand-primary: #2ecc71;
$dark-green: #237346;
$link-color: white;
$navbar-default-bg: $brand-primary;
$navbar-default-link-color:  white;
$navbar-default-link-hover-color: $dark-green;
$headings-font-family: 'Oswald', sans-serif;
$link-hover-color: $dark-green;
$btn-default-bg: $brand-primary;
$btn-default-color: white;
$btn-default-border: white;


@import "bootstrap";




.logo, .article .panel-footer, .article .date, .volver-btn, .alert{
	font-family: $headings-font-family;

}

.article .panel-heading a:hover{
	text-decoration: none;
}

.navbar-brand.logo:hover{
	color: $dark-green;
}


.volver-btn{
	font-size: 30px;
}

.btn-new-article{

	a{
		color: inherit;
		text-decoration: none;
	}

	&:hover{
		border-color: $dark-green;
	}

}

#errors_show{
  color: red;
}

/*

	FLASH MESSAGES

*/
.alert{
	text-align: center;
	font-size: 18px;
}

.alert-notice{
	background-color: $brand-primary;
}

.alert-alert{
	background-color: #e74c3c;
}