/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";

$brand-primary: #2c3e50;
$dark-green: #2c3e50;
$midnight-blue: #2c3e50;
$link-color: $midnight-blue;
$navbar-default-link-color:  $midnight-blue;
$navbar-default-link-hover-color: $dark-green;
$headings-font-family: 'Oswald', sans-serif;
$link-hover-color: $dark-green;
$btn-default-bg: $brand-primary;
$btn-default-color: white;
$btn-default-border: $midnight-blue;
$body-bg: white;


@import "bootstrap";




.logo, .article .panel-footer, .author-info, .volver-btn, .alert{
	font-family: $headings-font-family;

}

.article .panel-heading a:hover{
	text-decoration: none;
}

/*

	GENERALES

*/


.content-title{

	padding: 50px 0 50px 0;

}

.volver-btn{
	font-size: 30px;
}

.btn-new-article{

	border-radius: 10px;
	border-color: white;
	background-color: transparent;

	a{
		text-decoration: none;
		color: white;
		&:hover{
			color: $midnight-blue;
		}
	}

	&:hover{
		color: $midnight-blue;
		border-color: $midnight-blue;
	}

}

#errors_show{
  color: red;
}
/*

	NAVBAR

*/

.navbar-brand.logo:hover{
	color: $dark-green;
}

.navbar{
	margin-bottom: 0px;
	position: absolute;
	z-index: 2;
}

#navbar-new{
	width: 100%;
	position: absolute;
	z-index: 2;
	background-color: rgba(255,255,255,0.5);
	padding-top: 10px;
}

.nav-btns li{
	list-style: none;
	display: inline;
}



/*

	FLASH MESSAGES

*/
.alert{
	text-align: center;
	font-size: 18px;
	margin-top: 80px;
}

.alert-notice{
	background-color: $brand-primary;
}

.alert-alert{
	background-color: #e74c3c;
}

/*

	HOME GALLERY

*/

#main{
	position: relative;

	.carousel-inner{
		max-height: 500px;
	}
}