// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-articles{
	 border-top: 1px solid #7f8c8d;
}

.home-links{
	height: 50px;
	text-align: center;
	margin-bottom: 10px;
}

.home-link{
	padding-top: 5px;
}

.home-link.active{
	border-top: 2px solid #7f8c8d;
}

.article {


	.edit-btns{

		position: absolute;
		right: 0;
		top: 30%;
		padding: 10px;
		border: 1px solid #7f8c8d;
		border-right: none;
		border-radius: 10px 0 0 10px;

		a{
			color: #333;
			text-decoration: none;
		}

	}

}


.single-article{

	padding-left: 0 !important;
	padding-right: 0 !important;

	a{
		text-decoration: none !important;
		color: black;
	}

	.author-info{
		font-size: 14px;
	}

	h2{
		margin-top: 10px !important;
	}

	.teaser-body{
		padding: 0 10px;
	}
}

.comments-number{
	font-size: 6px;
	margin-top: 2em
}